<nav class="site-nav">
    <h1>Ember Sherpa</h1>
    <ul>
        <li>
            <a href="#">Global Ember Meetup</a>
        </li>
        <li>
            <a href="#">Blog</a>
        </li>
    </ul>
</nav>