{{#md-card
  class='video-card'
  title=video.name
  activator=activator
  image=(get (best-fit video.pictures.sizes width=width) 'link')
}}
  {{#md-card-reveal}}
    <p>{{video.description}}</p>
    {{#link-to 'global-ember-meetup.video' video (query-params autoplay=true)}}
      <i class="fa fa-play-circle"></i> Play
    {{/link-to}}
  {{/md-card-reveal}}
  {{#md-card-action}}
    {{yield}}
  {{/md-card-action}}
{{/md-card}}
