.global-ember-meetup {
  .section-title, .category-title, .page-title {
    font-family: 'Century Gothic W01';
    color: #483732;
    font-weight: 700;
  }
  .section-title, .category-title {
    text-align: center;
  }
}
