@import 'materialize';
@import 'ember-cli-materialize';
@import 'fonts';
@import "bower_components/font-awesome/scss/font-awesome";

@import 'global-ember-meetup';

.hero-card {
  img {
    max-height: 200px;
  }
  .row.card-content {
    padding-bottom: 0;
  }
  .headline {
    font-weight: bold;
    color: #e65100;
  }
  .subtitle {
    font-style: italic;
    font-weight: 500;
    color: #ff9800 !important;
  }
}

.button-container {
  margin-top: 10px;
  .btn {
    width: 100%;
  }
}

.video-card {
  .card-action a {
    color: #4527a0;
  }
}
.margin-top-20 {
  margin-top: 20px;
}

.height-175 {
  height: 175px;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.background-deep-orange-lighten-4 {
  background-color: #ffccbc;
}

.margin-top-neg-75 {
  margin-top: -75px;
}

.text-center {
  text-align: center;
}
