{{video-player video=model autoplay=autoplay controls=true}}
<h3 class="page-title">{{model.name}}</h3>
<div class="row">
  <div class="col m10">
    {{disqus-comments
      identifier=model.id
      title=model.name
    }}
  </div>
  <div class="col m2">
  </div>
</div>
