<div class="row">
  <div class="col m10">
    <h3>{{model.name}}</h3>
    {{video-player video=model autoplay=autoplay controls=true}}
    {{disqus-comments
      identifier=model.id
      title=model.name
    }}
  </div>
  <div class="col m2">

  </div>
</div>
