<div class="row">
  <div class="col m10">
    {{video-player video=model}}
    <h3>{{model.name}}</h3>
    {{disqus-comments
        identifier=model.id
        title=model.name
      }}
  </div>
  <div class="col m2">

  </div>
</div>
