<div class="container-fluid background-deep-orange-lighten-4">
	<div class="row orange height-175 margin-bottom-0">
	</div>
	
	{{!-- floating div --}}
	<div class="container">
		{{#md-card-panel class="z-depth-2 margin-top-neg-75"}}
		<div class="row">
			<div class="col s12">
				<h4 class="deep-orange-text">About EmberSherpa</h4>
				
				<p>
					EmberSherpa is a company created to help excellent Ember people to work with companies to produce better results than they would otherwise. We look to facilitate relationships that will result in long lasting positive effects on each person involved.
				</p>
				
				<p class="text-center">
					<img src="/images/ember-logo.png" alt="Ember logo">
				</p>
				<div class="col s12">
					<p class="deep-orange-text">
						<strong>Free Pairing Sessions and Advice</strong>
					</p>
					
					<p>
						We love helping the community and offer free pairing &amp; advice sessions. <a href="https://squareup.com/appointments/book/0badee89-09fd-43d2-b7eb-d9b2939e3a49/start?service_id=366dbf19-20c1-4e8a-bff0-9fb8ef67039b">Book one today</a>.
					</p>
				</div>
			</div>
		</div>
		
		{{/md-card-panel}}
	</div>
	{{!-- end floating div --}}
</div>