<div class="row">
  <div class="col m6">
    <h2 class="section-title">Code Talks</h2>
    {{video-cards videos=(fetch-vimeo-album 'Code Talks')}}
  </div>
  <div class="col m6">
    <h2 class="section-title">Addon Videos</h2>
    {{video-cards videos=(fetch-vimeo-album 'Addon Videos')}}
  </div>
</div>
