extends layout
include mixins

block content
  article.container#content
    .row.mbl
      header.span12
        h1= page.title
    .row-fluid
      .span9
        != env.plugins.apply_shortcodes.call( page, page.html )
      aside.span3
        +share_menu()        
        +menu_nav("Table of Contents")
        +menu_nav("External Links")                
    .row-fluid.mtl
      .span9
        p
          strong What do you think? Did I miss something? Got a question? Leave me a comment and I'll do my best to respond to everyone.
        +disqus()
      aside.span3
        +share_menu()