extends layout
include mixins

block content
  article.container#content
    .row.mbl
      header.span12
        h1= page.title
    .row-fluid
      .span9
        != page.html
      aside.span3
        +menu_nav("Table of Contents")
        +share_menu()        
    .row-fluid.mtl
      .span9
        p
          strong What do you think? Did I miss something? Go a question? Leave me a comment and I'll do my best to respond to everyone.
        +disqus()
      aside.span3
        +share_menu()
        +menu_nav("External Links")