div.bottom-menu.bottom-menu-inverse
  div.container
    div.row
      div.span2.brand
        a(href="/") Ember Sherpa
      div.span8
      div.span2
script(src="/assets/js/jquery.js")
script(src="/scripts/ember-sherpa.js")
