div.bottom-menu.bottom-menu-inverse
  div.container
    div.row
      div.span2.brand
        a(href="/") Ember Sherpa
      div.span6
      div.span2
        a.pull-right(href="http://creativecommons.org/licenses/by-nc/3.0/",alt="Attribution-NonCommercial 3.0 Unported")
          img(src="/assets/images/cc-license.png")
      div.span2
        ul.bottom-icons.pull-right
          li
            a.fui-twitter(href="https://twitter.com/embersherpa")
          li
            a.gh-ico(href="http://github.com/taras/ember-sherpa")
script(src="/assets/js/jquery.js")
script(src="/assets/js/handlebars.js")
script(src="/assets/js/ember.js")
script(src="/assets/js/typeahead.js")
script(src="/assets/js/ember-sherpa.js")