div.navbar
  div.navbar-inner
    div.container
      button.btn.btn-navbar(type=button,data-toggle=collapse)
      a.brand(href='/') Ember Sherpa
      div.nav-collapse.collapse
        ul.nav
          li
            a(href='/cheatsheet') Cheatsheet