extends layout

mixin topics(topics)
  ul.topics
    for topic in topics
      li.topic
        a(href=topic.url)= topic.title
        span.arguments= topic.argument_names
        if topic.description
          &#160;-&#160;
          = topic.description
        +topics( topic.topics )

block content
  article.article.intro
    header
      h2
        a(href=page.url)= page.title
  +topics( page.topics )
