extends layout

block topics
  ul.topics
    for topic in page.topics
      li
        a(href=topic.url)= topic.title
        p= topic.getDescription()


block content
  article.article.intro
    header
      h2
        a(href=page.url)= page.title
  block topics
