!!! 5
block vars
  - var bodyclass = page.bodyclass || page.metadata.bodyclass;
  - var template = page.metadata.template.replace( ".jade", "");
  - var bodyclasses = [ bodyclass, template ]
html(lang='en')
  head
    include head
    block styles
  body(class=bodyclasses)
    include header
    block content
    include footer
    block scripts