extends layout
include mixins

block content
  div.container#content
    article.container-fluid
      header.row-fluid
        h1.h2= page.title
      .row-fluid
        .span9
          != page.html
        aside.span3
          +menu_nav()