extends layout
include mixins

block styles
  link(rel='stylesheet', href='/assets/css/qunit.css')

block content
  - var parent = page.parent['index.md']
  .container
    .row.mbl
      .span12
        a.btn.btn-primary.btn-huge(href=parent.url)
          i.icon-arrow-left
          = " Back to "
          = parent.title
    .row
      .span6
        .mbl
          h4#code Code
          +highlight(page.code)
        .mbl
          h4#tests Tests
          +highlight(page.tests)
        .mbl
          h4#results Test Results
          div.mtl#qunit
      .span6
        h4#discussion Discussion
        +disqus()

block scripts
  script(src="/assets/js/codemodule.js")
  script(type="text/javascript")= page.code
  script(type="text/javascript")= page.tests