extends layout
include mixins

block content
  - var has_topics = page.topics.length
  article.container-fluid
    if page.breadcrumbs
      +breadcrumb
    .row-fluid
      header
        h2
          = page.title
          if page.arguments
            +topic_args( page.arguments, has_topics )
    .row-fluid
      .span12
        != page.html
    if has_topics
      .row-fluid
        .span12
          h3.mbl(id="properties")= "Properties"
          +topics( page.topics )