extends layout
include mixins

block content
  article.container-fluid
    if page.breadcrumbs
      +breadcrumb
    div.row-fluid
      header
        h2
          = page.title
          if page.arguments
            +args( page.arguments )
    div.row-fluid
      div.span3.sidebar
        +topics( page.topics )
      div.span9
        != page.html