extends layout
include mixins

block content
  article.container-fluid
    div.row-fluid
      div.span6
        +breadcrumb
        header
          h2= page.title
        != page.html
      div.span6
        +topics( page.topics )