extends layout
include mixins

block content
  article.container-fluid
    if page.breadcrumbs
      +breadcrumb
    .row-fluid
      header
        h2
          = page.title
          if page.arguments
            +topic_args( page.arguments )
    .row-fluid
      .span12
        != page.html
    .row-fluid
      h3.mbl(id="properties")= "Properties"
      .span12
        +topics( page.topics )