extends index
include mixins

block content
  .container#content
    header.row
      h1.span12
        +escaped("title")
    .row
      .span8
        each article in env.helpers.get_children(page)
          article
            header
              h5
                a(href=article.url)
                  +escaped( "title", article )
              p.description
                +escaped( "description", article )
      .span4
