@import "bootstrap";
@import "flat-ui";
@import "github";
@import "typeahead";
@import "topics";
@import "page";
@import "highlight";

body > header {
  background: #eceef0;

  .in.collapse {
    overflow: visible;
  }

  .btn {
    margin-top: 17px !important;
  }

  .brand {
    z-index: 2;
  }

  .navbar .btn-navbar:before {
    content: "\F150";
    font-family: "FontAwesome";
  }
}

.row.breadcrumbs {
  font-size: 14.994px;
  font-weight: 700;
  min-height: 25px;

  .breadcrumb {
    margin-bottom: 0;
    margin-top: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #f3f4f5;
  }

  .page-options {
    padding: 13px 20px;
  }
}

.front-page {

  h2 {
    margin: 2em 0 2.5em 0;
    text-align: center;
    font-weight: normal;

    color: #bdc3c7;

    strong {
      color: #34495e;
    }

  }

  .dialog {
    margin-bottom: 3em;
  }

  .features {
    margin-bottom: 4em;

    .row-fluid {
      margin-bottom: 0;
    }

    .label-success {
      vertical-align: middle;
    }

    div {
      text-align: center;
      margin-bottom: 2em;
    }

    img {
      margin: 0 auto;
    }
  }

}

.navbar .nav > li > a.contribute, .bottom-menu a.contribute, .contribute {
  color: #e74c3c;
}

.ember {
  color: #e74c3c;
  font-weight: bold;
}

.breadcrumb > li:after {
  content: "\f0da";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em; // fixes ie7 issues
  font-size: 17px;
}

#content {
  margin-bottom: 1em;
  ol, ul {
    li {
      font-size: 18.004px;
      line-height: 1.722169;
    }
    margin-bottom: 1em;
  }
  h3 {
    margin-top: 1em;
    margin-bottom: 0.25em;
  }
  h4 {
    margin-top: 0.75em;
  }

  .dialog {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.articles {
  h1, h2, .description {
    text-align: center;
  }

  &.index {

  }

  #content > header, article {
    margin-bottom: 4em;
  }
}

.article {
  h1 {
    text-align: center;
  }
}

.small {
  font-size: 85%;
}

@media (max-width: 767px) {
  .row-fluid.breadcrumbs {
    width: auto;
  }

  .page-options {
    .gh-btn {
      float: left;
    }
  }

  .bottom-menu {
    text-align: center;
  }
};