@import "github";
@import "typeahead";

body > header {
  background: #eceef0;
}

.navbar a.brand {
  padding-left: 0
}

.row-fluid.breadcrumbs {
  background-color: #f3f4f5;
  font-size: 14.994px;
  font-weight: 700;
  padding: 13px 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  min-height: 25px;

  div, ul {
    min-height: 20px;
  }

  ul.breadcrumb {
    margin-bottom: 0;
    padding: 0;
    margin-top: 2px;
  }

}

@media (max-width: 767px) {
  .row-fluid.breadcrumbs {
    width: auto;
  }

  .page-options {
    .gh-btn {
      float: left;
    }
  }
};

ul.topics {
  margin-bottom: 1.5em;

  li {
    list-style: none;
  }

  h5 {
    display: inline;
  }

  p {
    display: inline-block;
    color: #bdc3c7;
    margin-bottom: 0;
  }

  ul.topics {
    margin-left: 2em;
  }
}

.sidebar {
  ul.topics {
    h5 {
      font-size: 18px;
    }
    p {
      font-size: 16px;
    }
  }
}