{{#md-navbar name='EmberSherpa' class='deep-orange'}}
  <!-- A workaround to get the "active" class
    to apply to the active <li> automatically -->
  {{#link-to 'meetup' tagName='li'}}
    {{link-to 'Meetup' 'meetup'}}
  {{/link-to}}
{{/md-navbar}}

<div class="container">
  {{outlet}}
</div>


{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
