<div class="row">
  {{#md-card class="hero-card"}}
    {{#md-card-content class="row"}}
      <div class="col m2 offset-m2">
        <img class="responsive-img" src="images/sherpa-tomster.png">
      </div>
      <div class="col m6">
        <h3 class="headline">Get help with your Ember app</h3>
        {{#link-to "mentoring" class="orange waves-effect waves-light btn-large"}}Speak to a mentor{{/link-to}}
        <span class="subtitle">YES, IT'S FREE</span>
      </div>
    {{/md-card-content}}
  {{/md-card}}
</div>
