<header class="home-header">
    {{site-nav}}
    <div class="tomster">
        <h2>
            Level up your <br>
            Ember.js skills
        </h2>
        <a href="#" class="ask-question">
            Ask me a question
        </a>
        <span>
            (Yes, it's free!)
        </span>
    </div>
</header>
<section class="popular-questions">
    <div class="wrap">
        <h2>
            Popular Questions
        </h2>
        <article>
            <img src="media/avatar.png" alt="" class="avatar">
            <h3>
                <a href="#">
                    How to split router.js into modules when working with pods? 
                </a>
            </h3>
            by <a href="#" class="author">BransonGitomeh</a>
        </article>
        <article>
            <img src="media/avatar.png" alt="" class="avatar">
            <h3>
                <a href="#">
                    How to split router.js into modules when working with pods? 
                </a>
            </h3>
            by <a href="#" class="author">BransonGitomeh</a>
        </article>
        <article>
            <img src="media/avatar.png" alt="" class="avatar">
            <h3>
                <a href="#">
                    How to split router.js into modules when working with pods? 
                </a>
            </h3>
            by <a href="#" class="author">BransonGitomeh</a>
        </article>
        <article>
            <img src="media/avatar.png" alt="" class="avatar">
            <h3>
                <a href="#">
                    How to split router.js into modules when working with pods? 
                </a>
            </h3>
            by <a href="#" class="author">BransonGitomeh</a>
        </article>
        <article>
            <img src="media/avatar.png" alt="" class="avatar">
            <h3>
                <a href="#">
                    How to split router.js into modules when working with pods? 
                </a>
            </h3>
            by <a href="#" class="author">BransonGitomeh</a>
        </article>
        <article>
            <img src="media/avatar.png" alt="" class="avatar">
            <h3>
                <a href="#">
                    How to split router.js into modules when working with pods? 
                </a>
            </h3>
            by <a href="#" class="author">BransonGitomeh</a>
        </article>
    </div>
    
</section>
{{outlet}}
