<div class="row">
  {{#md-card class="hero-card col l8 offset-l2"}}
    {{#md-card-content class="row"}}
      <div class="col s4">
        <img class="responsive-img" src="images/sherpa-tomster.png">
      </div>
      <div class="col s8">
        <h3 class="headline">Get help with your Ember app</h3>
        {{#link-to "appointment" class="orange waves-effect waves-light btn-large"}}Make an appointment{{/link-to}}
        <span class="subtitle">YES, IT'S FREE</span>
      </div>
    {{/md-card-content}}
  {{/md-card}}
</div>
